
/* stylelint-disable */

.btn {
    padding: 19px 15px;
    display: inline-block;
    font-weight: 500;
    background: rgb(85,102,143);
    background: linear-gradient(273deg, rgba(85,102,143,1) 0%, rgba(156,115,143,1) 100%);
    text-align: center;
    border: 0;
    text-decoration: none;
    opacity: .98;
    color: #fff;
    letter-spacing: 1px;

    &:hover {
        opacity: 1;
        text-decoration: none;
        transform: scale(.98);
    }
}

@media (max-width: 480px) {
    .btn {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
