
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        position: relative;
        min-height: 920px;
        background-color: #fff;
        background-image: linear-gradient(180deg, rgba(191,161,150,1) 55%, rgba(199,173,163,1) 65%, rgba(218,201,195,1) 75%, rgba(255,255,255,1) 100%);
    }

    &_problem {
        display: flex;
        min-height: 710px;
        background-image: url("../media/problem/human.png");
        background-repeat: no-repeat;
        background-position: calc(50% - 420px) bottom;

        .container {
            display: flex;
            align-items: center;
        }
    }

    &_beauty {
        background-color: #f6f6f6;
        background-image: url("../media/section/beauty.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &_help {
        min-height: 800px;
        background-color: #cdaea2;
        background-image: url("../media/section/help.jpg");
        background-repeat: no-repeat;
        background-position: calc(50% - 420px) bottom;
    }

    &_sostav {
        background-color: #fff;
        background-image: url("../media/section/sostav.jpg");
        background-repeat: no-repeat;
        background-position: calc(100% - 967px) top;
    }

    &_prof {
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;
        background-color: rgb(226,200,191);
        background-image: linear-gradient(267deg, rgba(226,200,191,1) 0%, rgba(255,255,255,1) 100%);
    }
}

.section__product {
    position: absolute;
    z-index: 2;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 857px;

    &::before {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -160px;
        width: 955px;
        height: 1080px;
        background-image: url("../media/product-before.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
        content: '';
    }
}

.section__title {
    font-size: 52px;
    color: #2e2960;
    font-family: "NotoSerif", sans-serif;
    font-weight: 400;
    line-height: 1;
}

.section__human {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 599px;
    height: 742px;
    margin-left: 160px;
}

@media (max-width: 1280px) {
    .section {
        &_face {
            padding-bottom: 460px;
        }

        &_sostav {
            padding-top: 60px;
            padding-bottom: 440px;
            background-color: #fff;
            background-image: url("../media/section/sostav-1280.jpg");
            background-repeat: no-repeat;
            background-position: center bottom;
        }

        &_prof {
            background: #f3e9e5;
        }
    }

    .section__product {
        max-width: 530px;

        &::before {
            max-width: 768px;
            height: 700px;
            margin-top: -110px;
        }
    }

    .section__human {
        display: none;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_face {
            background-image: linear-gradient(180deg, rgba(191,161,150,1) 10%, rgba(199,173,163,1) 24%, rgba(218,201,195,1) 39%, rgba(255,255,255,1) 100%);
        }

        &_problem {
            padding-bottom: 450px;
            background-position: center bottom;
            background-size: 490px;
            min-height: 0;

            .container {
                display: block;
            }
        }

        &_help {
            min-height: 0;
            padding-bottom: 500px;
            background-size: 450px;
            background-position: center bottom;
        }

        &_sostav {
            padding-bottom: 440px;
        }
    }

    .section__product {
        display: none;
    }
}

@media (max-width: 480px) {
    .section {
        &_face {
            background-position: center -100px;
        }

        &_help {
            padding-bottom: 400px;
            background-size: 350px;
        }
    }
}
