<section class="section section_beauty">
    <div class="container">
        <div class="beauty">
            <div class="beauty__body">
                <div class="beauty__title">Клетки красоты</div>
                <div class="beauty__description">
                    <p>Фибробласт – это структурная клетка кожи, которая отвечает за выработку коллагена и эластина, а также гиалуроновой кислоты. Именно эти компоненты являются ключевыми в вопросе сохранения молодости кожи.</p>
                    <p>Фибробласт можно назвать главной клеткой красоты.</p>
                    <p>Однако с годами активность фибробластов снижается, и по этой причине замедляются темпы регенерации кожи, она начинает постепенно увядать.</p>
                </div>
            </div>
            <div class="beauty__media">
                <div class="beauty__media-one">
                    <img src="../media/beauty/img-1.png" alt="">
                    <div class="beauty__media-text">
                        <p>Elastin</p>
                        <p>Collagen</p>
                        <p>Fibroblast</p>
                    </div>
                </div>
                <div class="beauty__media-box">
                    <div class="beauty__media-item">
                        <img src="../media/beauty/img-2.png" alt="">
                        <p>Younger skin</p>
                    </div>
                    <div class="beauty__media-item">
                        <img src="../media/beauty/img-3.png" alt="">
                        <p>Older skin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>