<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="commits__title section__title" data-aos="fade-up">Что говорят наши клиентки?</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.jpg" alt=""></div>
                    <div class="commits__description">“Evelan творит чудеса! Однозначно лучший антиэйдж крем!”</div>
                    <div class="commits__name">Анита, 52 года</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.jpg" alt=""></div>
                    <div class="commits__description">“Даже не думала, что можно добиться такого эффекта в домашних условиях с помощью крема!”</div>
                    <div class="commits__name">Летиция, 71 год</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.jpg" alt=""></div>
                    <div class="commits__description">“Все думают, что я сделала круговую подтяжку лица. Но нет! Это все Evelan”.</div>
                    <div class="commits__name">Изабелла, 64 года</div>
                </div>
            </div>
        </div>
    </div>
</section>