<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="commits__title">Отзывы покупателей</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__name">Гертруда</div>
                    <div class="commits__year">52 года</div>
                    <div class="commits__description">У меня очень тонкая кожа и достаточно активная мимика. Первые морщины появились лет в 20 – возле глаз и около рта. Увлажняющие, ухаживающие и прочие крема подбирала чаще всего по совету консультантов в магазине. Должного результата, конечно, получать не удалось. Испытывала на себе уколы красоты, но мне совсем такое не подходит – морщины остаются на месте, мимика замораживается на два месяца. Спасением заметно увядшей кожи к моим годам стал Evelan. Это по-настоящему удивительно средство. После его использования кожа стала заметно более увлажненной, светящейся, что ли. Морщины сократились в два раза – нарадоваться не могу на свое отражение и однозначно рекомендую всем это сокровище.</div>
                </div>
                <div class="commits__item">
                    <div class="commits__name">Камила</div>
                    <div class="commits__year">44 года</div>
                    <div class="commits__description">По совету подруги купила себе Evelan. Этот крем лучше всех других подошел для моей жирной кожи. После первого применения лицо стало на ощупь, как бархат. После недели использования крема заметила, что тон кожи стал ровнее, цвет лица приобрел приятные теплые тона. Все свои остальные крема отложила в сторону, буду пользоваться только Evelan!</div>
                </div>
                <div class="commits__item">
                    <div class="commits__name">Фрида</div>
                    <div class="commits__year">63 года</div>
                    <div class="commits__description">Это самый эффективный уход за кожей, который у меня когда-либо был. С признаками старения, в силу возраста, борюсь уже давно. Я не страдаю глубокими морщинами (только мимические), зато провисание и “поплывший” овал лица мне очень хорошо знакомы. Долгие годы покупала себе довольно дорогостоящие средства, верила в их волшебство. Но его не произошло. Evelan мне подарила дочка. Я не надеялась на выраженный эффект, но этот крем сумел произвести на меня невероятное впечатление. Кожа стала сиять и излучать здоровье. Но, самое главное, овал лица заметно подтянулся. Подруги даже заподозрили, что я втихаря сделала подтяжку лица. А я в ответ подарила им по упаковке Evelan. Пусть испытают его на себе, и я уверена, это убедит их гораздо сильнее, чем мои слова.</div>
                </div>
                <div class="commits__item">
                    <div class="commits__name">Рамона</div>
                    <div class="commits__year">59 лет</div>
                    <div class="commits__description">Очень довольна результатом. За полмесяца использования крема Evelan лицо заметно помолодело: пропали глубокие возрастные заломы, гусиные лапки и цвет кожи стал значительно свежее. Хочу добавить, что крем хорошо впитывается, не оставляет следов и после него на кожу отлично ложится косметика.</div>
                </div>
            </div>
        </div>
    </div>
</section>