<section class="section section_event">
    <div class="container">
        <div class="event">
            <div class="event__box">
                <div class="event__title">Действие Evelan</div>
                <div class="event__description">
                    <p>Благодаря Evelan кожа наполняется новыми силами, выравнивается ее цвет, улучшается текстура и упругость, она становится увлажненной и сияющей. Преображается овал лица, улучшается тургор и разглаживаются морщины.</p>
                    <p>Регулярное применение Evelan позволит вам отказаться от тонального крема – больше не нужно будет скрывать неровности тона и другие несовершенства.</p>
                    <p>Активированные фибробласты помогают избавиться от гравитационного птоза, который неизбежно приходит вместе с возрастом – кожа становится более плотной, и опущения тканей не происходит.</p>
                </div>
                <div class="event__result">Результат действия Evelan можно назвать глобальным преображением.</div>
            </div>
            <div class="event__beforeAfter">
                <div class="event__body">
                    <img src="../media/event/before.png" alt="">
                    <img src="../media/event/after.png" alt="">
                </div>
            </div>
            <div class="callback">
                <div class="callback__product"><img src="../media/product.png" alt=""></div>
                <div class="callback__human"><img src="../media/callback/human.png" alt=""></div>
                <p>Получите индивидуальную консультацию у оператора, чтобы узнать о длительности омолаживающего курса и о дополнительных средствах ухода, необходимых для наилучшего результата в вашем случае.</p>
            </div>
        </div>
    </div>
</section>