<section class="section section_face">
    <div class="section__product">
        <img src="../media/product.png" alt="">
    </div>
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo"><a href="">Evelan</a></div>
                <div class="face__title">Фундаментальное восстановление кожи лица</div>
                <div class="face__list">
                    <div class="face__list-item"><p>Объединяет коллаген и эластин для внутриклеточного омоложения</p></div>
                    <div class="face__list-item"><p>Тонизирует кожу и подтягивает овал лица</p></div>
                    <div class="face__list-item"><p>Разглаживает глубокие возрастные морщины</p></div>
                    <div class="face__list-item"><p>Активизирует работу фибробластов для сохранения молодости</p></div>
                </div>
            </div>
            <div class="face__box">
                <%- include('form') %>
            </div>
        </div>
    </div>
</section>