<section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="help__title"><mark>Evelan</mark> – <span>активатор клеток</span></div>
            <div class="help__subtitle">Evelan помогает облегчить работу вашим собственным фибробластам за счет пополнения их числа новыми – молодыми и активными – клетками.</div>
            <div class="help__description">
                <p>Действующие компоненты препарата проникают в самые глубокие слои дермы и немедленно приступают к работе: начинают активно синтезировать коллаген, эластин и гиалуроновую кислоту.</p>
                <p>Таким образом Evelan восстанавливает физиологический баланс кожи и запускает процессы ее естественного восстановления.</p>
            </div>
        </div>
    </div>
</section>