<section class="section section_problem">
    <div class="container">
        <div class="problem">
            <div class="problem__title">Почему увядает кожа?</div>
            <div class="problem__subtitle">Кожа – это зеркало возраста.</div>
            <div class="problem__description">
                <p>Точкой отсчета ее старения можно считать 25 лет.</p>
                <p>После этого возраста коллагеново-эластиновый каркас, отвечающий за упругость и молодость кожи, слабеет и истощается.</p>
                <p>Из-за этого кожа «увядает», становится более грубой, теряет эластичность и тонус.</p>
            </div>
        </div>
    </div>
</section>