<section class="section section_prof">
    <div class="container">
        <div class="prof">
            <div class="prof__title">Мнение специалиста</div>
            <div class="prof__description">
                <div class="prof__subtitle">Крем Evelan – отличная замена дорогостоящим салонным косметическим процедурам.</div>
                <div class="prof__info">Результат его действия заметен уже после первых дней применения: исчезают дряблость и сухость кожи, мелкие морщины практически полностью разглаживаются, а крупные становятся менее заметными. Главное правило – регулярное применение этого средства.</div>
            </div>
            <div class="prof__footer">
                <div class="prof__name">Эперанса Крус <span>косметолог-дерматовенеролог</span></div>
                <div class="prof__id"><img src="../media/prof/id.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="section__human"><img src="../media/prof/human.png" alt=""></div>
</section>