
<section class="section section_sostav">
    <div class="container">
        <div class="sostav">
            <div class="sostav__title">Специально подобранный состав для реконструкции вашей кожи</div>
            <div class="sostav__list">
                <div class="sostav__list-item active visible">
                    <div class="sostav__name">Гиалуроновая кислота</div>
                    <div class="sostav__info">Удерживает влагу и поддерживает оптимальный водный баланс в коже. Снимает воспаление, раздражение и шелушение. Поддерживает упругость и эластичность кожи. Усиливает естественное сопротивление кожи внешним неблагоприятным факторам: холоду, ветру, морозу, ультрафиолету, перепадам температур.</div>
                </div>
                <div class="sostav__list-item">
                    <div class="sostav__name">Ретиноиды</div>
                    <div class="sostav__info">Биологически активные формы витамина А, которые ускоряют процес</div>
                </div>
                <div class="sostav__list-item">
                    <div class="sostav__name">Алоэ</div>
                    <div class="sostav__info">Биологически активные формы витамина А, которые ускоряют процес</div>
                </div>
                <div class="sostav__list-item">
                    <div class="sostav__name">Коллаген</div>
                    <div class="sostav__info">Биологически активные формы витамина А, которые ускоряют процес</div>
                </div>
                <div class="sostav__list-item">
                    <div class="sostav__name">Экстракт мяты</div>
                    <div class="sostav__info">Биологически активные формы витамина А, которые ускоряют процес</div>
                </div>
                <div class="sostav__list-item">
                    <div class="sostav__name">Кофеин</div>
                    <div class="sostav__info">Удерживает влагу и поддерживает оптимальный водный баланс в коже. Снимает воспаление, раздражение и шелушение. Поддерживает упругость и эластичность кожи. Усиливает естественное сопротивление кожи внешним неблагоприятным факторам: холоду, ветру, морозу, ультрафиолету, перепадам температур.</div>
                </div>
                <div class="sostav__list-item">
                    <div class="sostav__name">Аденозин</div>
                    <div class="sostav__info">Удерживает влагу и поддерживает оптимальный водный баланс в коже. Снимает воспаление, раздражение и шелушение. Поддерживает упругость и эластичность кожи. Усиливает естественное сопротивление кожи внешним неблагоприятным факторам: холоду, ветру, морозу, ультрафиолету, перепадам температур.</div>
                </div>
                <div class="sostav__list-item">
                    <div class="sostav__name">Масло пассифлоры</div>
                    <div class="sostav__info">Удерживает влагу и поддерживает оптимальный водный баланс в коже. Снимает воспаление, раздражение и шелушение. Поддерживает упругость и эластичность кожи. Усиливает естественное сопротивление кожи внешним неблагоприятным факторам: холоду, ветру, морозу, ультрафиолету, перепадам температур.</div>
                </div>
                <div class="sostav__list-item">
                    <div class="sostav__name">Масло ши</div>
                    <div class="sostav__info">Удерживает влагу и поддерживает оптимальный водный баланс в коже. Снимает воспаление, раздражение и шелушение. Поддерживает упругость и эластичность кожи. Усиливает естественное сопротивление кожи внешним неблагоприятным факторам: холоду, ветру, морозу, ультрафиолету, перепадам температур.</div>
                </div>
                <div class="sostav__list-item">
                    <div class="sostav__name">Масло авокадо</div>
                    <div class="sostav__info">Удерживает влагу и поддерживает оптимальный водный баланс в коже. Снимает воспаление, раздражение и шелушение. Поддерживает упругость и эластичность кожи. Усиливает естественное сопротивление кожи внешним неблагоприятным факторам: холоду, ветру, морозу, ультрафиолету, перепадам температур.</div>
                </div>
                <div class="sostav__list-item">
                    <div class="sostav__name">Рамноза</div>
                    <div class="sostav__info">Удерживает влагу и поддерживает оптимальный водный баланс в коже. Снимает воспаление, раздражение и шелушение. Поддерживает упругость и эластичность кожи. Усиливает естественное сопротивление кожи внешним неблагоприятным факторам: холоду, ветру, морозу, ультрафиолету, перепадам температур.</div>
                </div>
                <div class="sostav__list-item">
                    <div class="sostav__name">Экстракт водорослей</div>
                    <div class="sostav__info">Удерживает влагу и поддерживает оптимальный водный баланс в коже. Снимает воспаление, раздражение и шелушение. Поддерживает упругость и эластичность кожи. Усиливает естественное сопротивление кожи внешним неблагоприятным факторам: холоду, ветру, морозу, ультрафиолету, перепадам температур.</div>
                </div>
                <div class="sostav__list-item">
                    <div class="sostav__name">Проксилан</div>
                    <div class="sostav__info">Удерживает влагу и поддерживает оптимальный водный баланс в коже. Снимает воспаление, раздражение и шелушение. Поддерживает упругость и эластичность кожи. Усиливает естественное сопротивление кожи внешним неблагоприятным факторам: холоду, ветру, морозу, ультрафиолету, перепадам температур.</div>
                </div>
                <div class="sostav__list-item">
                    <div class="sostav__name">Тензин</div>
                    <div class="sostav__info">Удерживает влагу и поддерживает оптимальный водный баланс в коже. Снимает воспаление, раздражение и шелушение. Поддерживает упругость и эластичность кожи. Усиливает естественное сопротивление кожи внешним неблагоприятным факторам: холоду, ветру, морозу, ультрафиолету, перепадам температур.</div>
                </div>
            </div>
        </div>
    </div>
</section>