
.face {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}

.face__box {
    flex: 0 0 auto;
    width: 50%;
}

.face__logo {
    margin-bottom: 30px;

    a {
        display: inline-block;
        text-transform: uppercase;
        font-size: 19px;
        color: #1f1f1f;
        background-color: #fff;
        text-decoration: none;
        padding: 2px 5px;
    }
}

.face__title {
    margin-bottom: 55px;
    font-weight: 300;
    color: #1f1f1f;
    font-size: 51px;
    max-width: 535px;
    text-transform: uppercase;
    line-height: 1.2;
}

.face__list {
    max-width: 240px;
}

.face__list-item {
    position: relative;
    color: #1f1f1f;
    padding-left: 45px;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        background-image: url("../media/face/icon.png");
        background-repeat: no-repeat;
        content: '';
    }

    & + & {
        margin-top: 30px;
    }
}

@media (max-width: 1280px) {
    .face__title {
        font-size: 34px;
    }

    .face__list {
        max-width: 320px;
    }
}

@media (max-width: 768px) {
    .face {
        flex-wrap: wrap;
    }

    .face__logo {
        text-align: center;
    }

    .face__box {
        width: 100%;
    }

    .face__title {
        margin-bottom: 30px;
        text-align: center;
    }

    .face__list {
        position: relative;
        max-width: 100%;
        padding-bottom: 470px;

        &::before {
            position: absolute;
            z-index: 2;
            left: 50%;
            bottom: 90px;
            transform: translateX(-50%);
            width: 500px;
            height: 283px;
            background-image: url("../media/product.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            content: '';
        }

        &::after {
            position: absolute;
            z-index: 1;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 562px;
            height: 470px;
            background-image: url("../media/product-before-768.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            content: '';
        }
    }
}

@media (max-width: 480px) {
    .face__title {
        font-size: 26px;
    }
}
