
.help {
    padding-left: 50%;
}

.help__title {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 58px;
    font-weight: 300;

    span {
        display: block;
    }

    mark {
        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            width: 286px;
            height: 87px;
            transform: translate(-50%, -50%);
            content: '';
            background-image: url("../media/help/mark.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}

.help__subtitle {
    font-size: 28px;
    margin-bottom: 40px;
}

.help__description {
    font-size: 22px;

    p + p {
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .help {
        padding-left: 0;
    }

    .help__title {
        font-size: 38px;

        mark {
            &::before {
                width: 186px;
                height: 56px;
            }
        }
    }

    .help__subtitle {
        font-size: 22px;
    }

    .help__description {
        font-size: 17px;
    }
}

@media (max-width: 480px) {
    .help__title {
        margin-bottom: 30px;
    }

    .help__subtitle {
        margin-bottom: 20px;
    }

    .help__description p + p {
        margin-top: 20px;
    }
}
